<!--
<ion-header>

  <ion-navbar color="dark">
    <ion-title>
    <ion-icon name="md-contact"></ion-icon>
    &nbsp;Sign In</ion-title>
  </ion-navbar>

</ion-header> bg-img-->


<ion-content class="bg-img">

	<div class="main-content">
		<ion-grid style="padding: 0px !important">
			<div ion-row justify-content-center style="padding-bottom:20px !important; padding-top:20px !important">
			  <img src="assets/imgs/abc_Logo.png">
			</div>
			<div ion-row justify-content-center style="padding-top: 20px !important;">
				<form [formGroup]="authForm" (ngSubmit)="userLogin(loginData)" col-11 justify-content-center>

				  <!--<div class="errormsg">
					<div *ngIf="username.errors && username.touched">
						<p>Email is required.</p>
					</div>
					<div *ngIf="password.errors && password.touched">
						<p>Password is required.</p>
					</div>
				  </div>-->
					
					<div ion-row col-12>
					<ion-list col-12>
					  <ion-item padding-right col-12>
						<ion-label>
						  <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
						</ion-label>
						<ion-input [(ngModel)]="loginData.username" [formControl]="username" id="username" type="text" required placeholder="Mobile Number *"></ion-input>
					  </ion-item>
					  <div style="font-size:20px !important;">&nbsp;
					  </div>
					  <ion-item col-12>
						<ion-label>
						  <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
						</ion-label>
						  <ion-input [(ngModel)]="loginData.password" [formControl]="password" id="password" type="{{passwordtype}}" required placeholder="Pin *"></ion-input>
						  
						  <div style="font-size:20px !important;">&nbsp;
						  </div>
						<button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()"><ion-icon name="{{passeye}}"></ion-icon></button>
					  </ion-item>
					</ion-list>
					</div>
					<button type="submit" ion-button full  color="secondary" [disabled]="!authForm.valid"  (click)="login(loginData)">Sign In</button>
				</form>
			</div>
			
			<div ion-row style="padding: 0px !important; padding-top:30px !important">
				<div ion-col col-8 style="padding: 0px !important">
					<div col-12 style="background-color: #28385A; border-radius: 0px 15px 15px 0px;">
						<div padding text-left class="form-bottom-text" ><a href="javascript:void(0);" (click)="moveToRegister()" style="color: #fff !important"><ion-icon name="contact"></ion-icon> &nbsp;&nbsp;Sign Up</a></div>
						<div padding text-left class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()" style="color: #fff !important"><ion-icon name="unlock"></ion-icon> &nbsp;&nbsp;Forgot Password?</a></div>
						<div padding text-left class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()" style="color: #fff !important"><ion-icon name="phone-portrait"></ion-icon> &nbsp;&nbsp;Swap Device</a></div>
						<!--<div padding text-left class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()" style="color: #fff !important"><ion-icon name="help-buoy"></ion-icon> &nbsp;&nbsp;FAQ</a></div>-->
					</div>
				</div>
				<div ion-col col-6 style="padding:0px !important">
					
					<!--<div padding text-right class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()" style="color: #000 !important"> Quick Transfer  &nbsp;&nbsp;<ion-icon name="cash"></ion-icon></a></div>
					<div padding text-right class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()" style="color: #000 !important"> Quick Airtime?  &nbsp;&nbsp;<ion-icon name="phone-portrait"></ion-icon></a></div>
					<div padding text-right class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()" style="color: #000 !important"> Internet Banking?  &nbsp;&nbsp;<ion-icon name="globe"></ion-icon></a></div>-->
					<!--<div padding text-center class="form-bottom-text">
					  <label>Don't have an Account? <a href="javascript:void(0);" (click)="moveToRegister()">Sign up</a></label>
					</div>-->
				</div>
			</div>
		</ion-grid>
	</div>
</ion-content>

<!--<ion-footer>
	<ion-item>
		<ion-label>Zambia</ion-label>
		<ion-select [(ngModel)]="gender">
			<ion-option value="f"></ion-option>
			<ion-option value="m">Zambia</ion-option>
			<ion-option value="m">Mozambique</ion-option>
		</ion-select>
	</ion-item>
</ion-footer>-->
