page-intro {
	.ormont_light{
		font-family: Ormont_Light !important
	}
	
	.androgyne_TB{
		font-family: Androgyne_TB !important
	}
	
	.swiper-pagination {
		margin-bottom: 30px !important
	}
	
	.swiper-pagination-bullet {
		width: 16px !important;
		height: 16px !important;
		background: #fff !important;
		opacity: 1 !important;
	}
	
	.swiper-pagination-bullet-active{
		width: 16px !important;
		height: 16px !important;
		background: #ff6600 !important;
		opacity: 1 !important;
	}
}
