page-analysis {
	.scroll-content{
		padding: 0px !important;
	}
	
	/*.scroll-content {
		background-color: map-get($colors, light);
	}*/

	ion-card-header {
		font-weight: bold;
	}
	
	.item-md{
		font-size: 1.2rem;
	}
	
	.card-header-md{
		font-size: 1.2rem;
	}
}
